<div class="welcome">
  <div class="section-title">
    Hi {{model.user.first_name}},
    <br />
    Welcome to <span class="green">INFECTED</span>!
  </div>
  <div class="welcome-text normal-text">
    The main objective of this game is to create the most contagious infection
    and to infect as many people with it as possible.
    <br />
    <br />
    But prepare yourself! Others will try to infect you too.
    <br/>
    <br/>
    Let's start now with creating your first infection.
  </div>
  {{#link-to "intern.infections.create"}}
    <button>START</button>
  {{/link-to}}
</div>
