.infections {
	.title {
	    margin-top: 40px;
		white-space: nowrap;
	}
	.name {
		margin: 20px 0 0 0;
		input {
		    text-align: center;
		    max-width: 70%;
		}
		.name-status-icon {
			display: inline-block;
		    position: absolute;
		    line-height: 60px;
		    margin-left: 15px;
		    font-size: 30px;
			&.not_correct {
				color: $warning-text-color;
			}
			&.correct {
				color: $neon-green;
			}
		}
	}
	.button-row {
		margin: 20px 0;
	}
	.missing_requirements_message {
		font-family: Helvetica;
		height: 24px;
		padding: 20px;
	}
}

.infection {
	text-align: left;
	padding: 0 20px;
	font-size: 24px;

	.button-row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h1 {
		font-size: 36px;
		margin-bottom: 0;
		.tooltip-label {
			width: 200px;
			white-space: nowrap;
		}
		.tooltip-text {
			width: 300px;
			white-space: normal;
		}
	}

	.skills {
		.button-row {
			margin-top: 30px;
			button {
				margin-top: 10px;
			}
		}
	}

	.skill {
		display: flex;
	    flex-flow: row nowrap;
		align-items: center;
		line-height: 50px;
	}

	.skill-name {
		width: 220px;
		min-width: 220px;
		.tooltip-label {
			width: 200px;
			white-space: nowrap;
		}
		.tooltip-text {
			width: 300px;
			white-space: normal;
		}
	}

	.skill-points {
		display: flex;
	    align-items: center;
		.for-loop {
			display: flex;
		}
		.tooltip-text {
			min-width: 130px;
			text-align: center;
		}
	}

	.skill-point {
		border: 2px solid $neon-green;
		margin-right: 10px;
		width: 10px;
		height: 20px;
		&.unlocked {
		    background: $neon-green;
		}
		&.marked_to_unlock {
		    background: #055d0c;
		}
	}

	.menu-icon {
		&.active {
			cursor: pointer;
		}
		&.inactive {
			cursor: default;
		}
		&.tooltip {
			margin-left: 10px;
			&.inactive {
				span {
					display: none;
				}
			}
		}
	}

	.stats {
		text-align: center;
	    white-space: nowrap;
		.people_infected {
		    padding: 5px 0 20px 0;
			border-bottom: 2px solid $highlight-text-color;
		}
		.next_wave_available_info {
			padding: 20px 0;
			border-bottom: 2px solid $highlight-text-color;
		}
		.title {
			padding: 20px 0;
		}
		.mono-text {
			font-size: 30px;
		}
		.--ends_in {
			min-width:200px;
			width: 33.33%;
		}
		.--transmissions {
			min-width:200px;
			width: 33.33%;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				margin-left: 15px;
			}
		}
		.--results {
			min-width:200px;
			width: 33.33%;
		}
		button {
			&.buy {
				margin: 0 10px;
				i {
					font-size: 28px;
				}
			}
		}
	}
}
