
$yellow: #FFBC03;
$neon-green: #00f914;
$neon-red: #ff2500;
$dark-red: #310911;

$medium-grey: #666;
$dark-grey: #333;

$background-color: $dark-red;

$primary-text-color: white;
$highlight-text-color: #00f914;
$warning-text-color: $neon-red;

$link-color: $medium-grey;
$link-color-hover: white;
$link-color-active: $highlight-text-color;
$link-bg: linear-gradient(to bottom, $background-color, darken($background-color, 5%));

$button-color: black;
$button-bg-color: $highlight-text-color;
$button-bg-color-hover: $highlight-text-color;
$button-bg: linear-gradient(to bottom, $button-bg-color, darken($button-bg-color, 20%));

.green {
	color: $neon-green;
}
