body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $background-color;
	color: $primary-text-color;
	font-family: main_font;
}

input {
	font-family: main_font;
	font-size: 24px;
	border-radius: 5px;
	margin: 15px 0;
	padding: 3px 5px;
	border: none;
}

input, button {
	&:focus {
		outline:none;
	}
}

button {
    display: inline-block;
	font-family: main_font;
    font-size: 2.5rem;
	box-shadow: #333 0px -1px 3px, black 0px 0px 50px;
	padding: 15px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	&.disabled {
		color: #3c3b3b;
	    background: #949393;
	    cursor: default;
	}
	&:not(.disabled) {
		background: $button-bg;
		color: $button-color;
		&:hover {
			background: $button-bg-color-hover;
		}
	}
	&.small {
	    padding: 5px 15px 2px 15px;
		font-size: 24px;
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $link-color;
	&.active {
		color: $link-color-active;
	}
	&:not(.active) {
		&:hover {
			color: $link-color-hover;
		}
	}
}

h1 {
	font-weight: normal;
    font-size: 48px;
	margin: 0;
}

table {
	width: 100%;
}

ul {
	padding: 0;
}

.main-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	overflow: auto;
	.ps-scrollbar-y-rail {
		visibility: hidden;
	}
}

.main-menu {
	@media (max-width: $sm-max) {
		display: block;
	}
}

.section-title {
	display: flex;
	justify-content: center;
	color: $highlight-text-color;
	&:hover {
		color: $link-color-hover;
	}
	margin-bottom: 50px;
	border-radius: 5px;
	padding: 10px 25px;
	a {
		line-height: 48px;

	}
	i {
		margin-right: 15px;
	}
}

.section-title, .large-text {
	font-size: 36px;
	@media (min-width: $md-min) {
		font-size: 48px;
	}
}

.medium-text {
	font-size: 20px;
	@media (min-width: $md-min) {
		font-size: 30px;
	}
}

.small-text {
	font-size: 1.5rem;
    line-height: 1.5;
}

.buy-button {
	padding: 5px 10px;
	margin: 10px 0;
	border-radius: 5px;
	background: $button-bg-color-hover;
}
