body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $background-color;
	color: $primary-text-color;
	font-family: main_font;
}

input {
	font-family: main_font;
	font-size: 24px;
	border-radius: 5px;
	margin: 15px 0;
	padding: 3px 5px;
	border: none;
}

input, button {
	&:focus {
		outline:none;
	}
}

button {
    display: inline-block;
	font-family: main_font;
    font-size: 2.5rem;
	box-shadow: #333 0px -1px 3px, black 0px 0px 50px;
	padding: 15px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	&.disabled {
		color: #3c3b3b;
	    background: #949393;
	    cursor: default;
	}
	&:not(.disabled) {
		background: $button-bg;
		color: $button-color;
		&:hover {
			background: $button-bg-color-hover;
		}
	}
	&.small {
		padding: 5px 10px;
		font-size: 1.5rem;
	}
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $link-color;
	&.active {
		color: $link-color-active;
	}
	&:not(.active) {
		&:hover {
			color: $link-color-hover;
		}
	}
}

h1 {
	font-weight: normal;
}

table {
	width: 100%;
}

.row {
    display: flex;
	max-width: 100%;
}

.column {
	padding: 20px;
	&.list {
	    padding: 0 25px;
	}
	&.content {
		-webkit-transition: width 0.5s ease-in-out; /* Firefox */
		-moz-transition: width 0.5s ease-in-out; /* WebKit */
		-o-transition: width 0.5s ease-in-out; /* Opera */
		transition: width 0.5s ease-in-out; /* Standard */
		border-radius: 5px;
		background: linear-gradient(to bottom, darken($background-color, 5%), $background-color);
	    padding: 15px 0px 50px 0px;
		&.closed {
			width: 0;
		}
		&.opened {
			width: 700px;
		}
		h1:first-child {
			margin-top: 0;
		}
		.tabs {
			margin: 0 0 20px 0;
			font-size: 2rem;
			display: flex;
		    border-bottom: 2px solid $highlight-text-color;
			.tab {
				margin-right: 30px;
			}
		}
	}
}

.section-title {
	color: $highlight-text-color;
	margin-bottom: 50px;
	border-radius: 5px;
	padding: 10px 25px;
	background: $link-bg;
}

.normal-text {
	font-size: 30px;
}

.large-text, .section-title,  {
	font-size: 48px;
}

.medium-text {
	font-size: 2rem;
}

.small-text {
	font-size: 1.5rem;
    line-height: 1.5;
}

.align-center {
	text-align: center;
	justify-content: center;
}

.buy-button {
	padding: 5px 10px;
	margin: 10px 0;
	border-radius: 5px;
	background: $button-bg-color-hover;
}
