$sm-max: 760px;
$md-min: $sm-max + 1;
$md-max: 1100px;

.not-on-small {
	@media (max-width: $sm-max) {
		display: none !important;
	}
}

.only-on-small {
	@media (min-width: $md-min) {
		display: none !important;
	}
}

.not-on-medium {
	@media (max-width: $md-max) {
		display: none !important;
	}
}

.row {
    display: flex;
	justify-content: center;
	width: 100%;
}

.column {
	padding: 20px;
	&.list {
	    padding: 0 25px;
	}
	&.content {
		position: absolute;
		border-radius: 5px;
		background: linear-gradient(to bottom, darken($background-color, 5%), $background-color);
	    padding: 15px;
		&.closed {
			display: none;
		}
		&.opened {
			width: 700px;
			max-width: 80%;
		}
		h1:first-child {
			margin-top: 0;
		}
		.tabs {
			margin: 0 0 20px 0;
			font-size: 2rem;
			display: flex;
		    border-bottom: 2px solid $highlight-text-color;
			.tab {
				margin-right: 30px;
			}
		}
	}
}

.align-left {
	text-align: left;
	justify-content: flex-start;
}

.align-center {
	text-align: center;
	justify-content: center;
}

.align-right {
	text-align: right;
	justify-content: flex-end;
}
