<div class="tutorial">
  <div class="title large-text green">
    Hi {{model.user.first_name}},<br />
    Welcome to INFECTED!
  </div>
  <div class="welcome-text medium-text">
    The main objective of this game is to create the most contagious infection
    and to infect as many people with it as possible.
    <br />
    <br />
    But prepare yourself! Others will try to infect you too.
    <br/>
    <br/>
    Let's start now with creating your first infection.
  </div>
  <button {{action 'start'}}>START</button>
</div>
