.tooltip {
  position: relative;
  cursor: default;
  display: inline-block;
  text-decoration: none;
  outline: none;
  line-height: 1.8rem;
}

.tooltip-label {
	display: flex;
}

.tooltip span {
	visibility: hidden;
	position: absolute;
	color: #222;
	font-size: 24px;

	left: 50%;
	z-index: 999;
	width: auto;
	padding: 10px;
	border: 2px solid #ccc;
	background-color: #ddd;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	white-space: nowrap;
}

.tooltip span:before,
.tooltip span:after {
	content: "";
	position: absolute;
	z-index: 1000;
	left: 50%;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.tooltip {
	&.top {
		span {
			bottom: 30px;
			&:before, &:after {
				bottom: -8px;
				border-bottom: 0;
				border-top: 8px solid #ddd;
			}
		}
  	}
	&.right {
		span {
			left: 170px;
    		bottom: -10px;
			width: auto;
			white-space: nowrap;
			&:before, &:after {
				left: -8px;
			    top: 16px;
			    border-bottom: 8px solid transparent;
			    border-top: 8px solid transparent;
			    border-left: 8px solid transparent;
			    border-right: 8px solid #ddd;
			}
		}
  	}
	&.bottom {
		span {
			top: 110%;
			&:before, &:after {
				top: -8px;
				border-bottom: 8px solid #ddd;
				border-top: 0;
			}
		}
	}
}

.tooltip:hover {
  border: 0; /* IE6 fix */
}

.tooltip span:before {
  border-top-color: #ccc;
}
