$top-nav-link-color: $link-color;
$top-nav-link-color-hover: $link-color-hover;
$top-nav-link-color-active: $link-color-active;

$top-nav-bar-bg: linear-gradient(to bottom, $background-color, darken($background-color, 5%));

$menu-breakpoint: 720px;
$menu-breakpoint-min: $menu-breakpoint + 1;

.top-nav-bar {
	z-index: 9999;
	position: absolute;
    display: flex;
	font-family: main_font;
	font-size: 24px;
	color: $highlight-text-color;
    padding: 0 10px;
	left: 0;
	right: 0;

	.top-nav-bar-bg {
		background: $top-nav-bar-bg;
		position: absolute;
		z-index: -1;
		left: 0;
		right: 0;
		height: 100%;
	}

	.name {
		a {
			display: flex;
			align-items: center;
			color: $highlight-text-color;
			font-size: 48px;
			.logo {
				padding: 10px 0 0;
				height: 60px;
			}
			.text {
				margin-left: 10px;
			}
		}
	}

	.dropdown {
		display: flex;
    	align-items: center;
		height: 100%;
		cursor: pointer;

		.dropdown-title {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
		}

		.dropdown-options {
			position: absolute;
			top: 70px;
			right: 0;
			-webkit-transition: height 0.2s ease-in;
			transition: height 0.2s ease-in;
			overflow: hidden;
			height: 0;

			@media (max-width: $menu-breakpoint) {
				left: 0;
			}

			a {
				display: block;
			}

			.option {
				display: flex;
				align-items: center;
				background: $top-nav-bar-bg;
				padding: 10px 20px;
				line-height: 30px;

				@media (max-width: $menu-breakpoint) {
					left: 0;
					right: 0;
				}

				.icon {
					text-align: center;
					width: 30px;
					margin-right: 10px;
				}
			}
		}

		&.--open {
			.dropdown-options {
				height: 48px;
				@media (max-width: $menu-breakpoint) {
					height: 200px;
				}
			}
		}
	}

	.top-nav-bar-section {
		display: flex;
		align-items: center;

		&.--left {
		    padding-left: 0;
		}
		&.--center {
			.link {
				margin-left: 50px;
				@media (max-width: $menu-breakpoint) {
					display: none;
				}
			}
		}
		&.--right {
			flex-grow: 2;
			justify-content: flex-end;
		}
		&.--center, &.--dropdown {
			&:not(.name) {
				a {
					cursor: pointer;
					text-decoration: none;
					color: $top-nav-link-color;
					padding: 0 15px;
					border-radius: 5px;
					&.active {
						color: $top-nav-link-color-active;
					}
					&:not(.active) {
						&:hover {
							color: $top-nav-link-color-hover;
						}
					}
				}
			}
		}
		.link {
			display: flex;
    		align-items: center;
			.icon {
			    display: flex;
			}
			.title {
				@media (max-width: 1170px) {
					display: none;
				}
			}
			i {
				margin-right: 10px;
			}
		}
	}

	.currencies {
	    display: flex;
	    white-space: nowrap;

		.currency {
			display: flex;
			margin-right: 25px;
			@media (min-width: 400px) {
				margin-right: 50px;
			}
			&:not(.active) {
				color: $medium-grey;
			}

			i, img {
				margin-left: 5px;
			}
		}
	}

	.account-img {
		height: 45px;
		width: 45px;
		@media (max-width: $menu-breakpoint) {
			display: none;
		}
		img {
			border: 2px solid $highlight-text-color;
			border-radius: 5px;
			height: 41px;
			width: 41px;
		}
	}

	.nav-icon {
		padding: 10px;
		@media (min-width: $menu-breakpoint-min) {
			display: none;
		}
	}

	.science-icon {
		margin-right: 10px;
		font-size: 40px;
	}

	.tooltip-text {
		white-space: normal;
		width: 290px;
	}
}
