@font-face {
  	font-family: main_font;
  	src: url("/assets/fonts/28_days_later.ttf") format("truetype"); /* Safari, Android, iOS, Chrome, Firefox */
}

@font-face {
  	font-family: science_icon;
  	src: url("/assets/fonts/science_icons.ttf") format("truetype"); /* Safari, Android, iOS, Chrome, Firefox */
}

.mono-text {
	font-family: 'VT323', monospace;
};

.science-icon {
	font-family: science_icon;
}
