<h1>
  {{#tooltip-component
      direction="bottom"
      tooltip=type.tooltip}}
      {{type.name}}
  {{/tooltip-component}}
</h1>
{{#each type.infection_skills as |skill|}}
  {{infection/skill-component
    infection=infection
    skill=skill}}
{{/each}}
