<div class="skill">
  <div class="skill-name">
    {{#tooltip-component direction="bottom" tooltip=tooltip}}
      {{skill-name}}
    {{/tooltip-component}}
  </div>
  <div class="skill-points">
    {{#for-loop times=15 }}
      <div class="skill-point"></div>
    {{/for-loop}}
    {{#tooltip-component direction="right" tooltip="costs 2 EPs"}}
      <img src="assets/images/plus.png" width="24px" height="24px" />
    {{/tooltip-component}}
  </div>
</div>
