<div class="row">
  <div class="column">
    {{#link-to 'intern.lab.infections' class="section-title"}}
      {{fa-icon 'shield'}} Vaccines
    {{/link-to}}
  </div>
  <div class="column">
    {{#link-to 'intern.lab.infections' class="section-title"}}
      * Infections
    {{/link-to}}
    {{infection/infection-list infections=model.user.infections}}
  </div>
</div>
