<div class="column infections">
    {{#link-to 'intern.lab' class="section-title align-center"}}
      {{fa-icon 'caret-left'}} * Infections
    {{/link-to}}
    <div class="body">
      {{outlet}}
    </div>
</div>
