.app-title {
	display: flex;
    align-items: center;
    justify-content: center;

	font-family: main_font;
	color: $highlight-text-color;

	font-size: 60px;
	height: 30%;

	@media (min-height: 400px) {
		font-size: 80px;
	}

	@media (min-height: 600px) {
		font-size: 100px;
	}

	@media (min-height: 800px) {
		font-size: 120px;
	}
}

.app-logo {
	display: inline-block;
	height: 40%;
	img {
		height: 100%;
	}
}

.fb-login-button-row {
	display: flex;
    align-items: center;
    justify-content: center;

	height: 30%;

	.fb-button {
		&.login {
		    font-size: 24px;
			// margin: 50px  0 0 -150px;
		}
	}
}
