{{#main-container}}
  <div class="app-title">Infected</div>

  <div class="app-logo"><img src="assets/images/app_icon_600x600.png" /></div>

  <div class="fb-login-button-row">
    <div class="fb-button login" {{action 'login'}}>
      {{fa-icon "facebook-square"}} login with facebook
    </div>
  </div>
{{/main-container}}
